.messages {
  height: 70vh;
  overflow-y: auto;
  margin: 7px 0;
  background-color: #b9e1e4;
}

.messages::-webkit-scrollbar {
    width: 1em;
}
 
.messages::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.messages::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.message {
  border: 1px solid blue;
  margin: 20px;
}

.hidden {
  visibility: hidden;
}

.message:hover .hidden{
  visibility: visible;
}

.message > img {
  height: 70px;
}

.spliter {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  background-color: turquoise;
}
