.message-input {
  background-color: #a790d0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}

.message-input input {
  padding: 10px;
  margin: 15px;
  width: 60%;

}

.message-input button {
  background-color: blue;
  color: white;
  width: 100px;
  margin: 15px;
}