.modal {
  position: fixed;
  width: 500px;
  top: 50%;
  left: 50%;
  height: 350px;
  background-color: blue;
  transform: translate(-50%, -50%);
}

.modal h3 {
  width: 200px;
  margin: 20px auto;
  text-align: center;

}

.modal textarea {
  display: block;
  height: 200px;
  width: 80%;
  margin: 0 auto;
}

.modal .buttons {
  margin: 40px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 350px;
}